h2, p{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/bg.png);
    background-attachment: fixed;
}

header {
    height: 100px;
}

main {
    width: 800px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.section {
    height: fit-content;
    width: auto;
    margin: 0 auto;
    display: inline-block;
    }
    
.animal, .ground {
    display: block;
}

.information {
    display: block;
    color: white;
    background-color: #9C502D;
    width: 260px;
    border-radius: 0px 0px 15px 15px;
    padding: 20px;
    border-bottom: solid 8px #402112;;
    text-align: left;
}

.information h2 {
    font-size: 30px;
    font-weight: 2000;
}

.information p {
    margin-top: 10px;
}

footer {
}
